h1,h2,h3,h4,h5,h6,p,span,a,label,select,optgroup,option,input,button,td,th,tr,strong,small,li,textarea,div{
    font-family: Cairo, sans-serif !important;
}
.is-invalid{

}
.h-10{
    height: 10% !important;
}
.h-90{
    max-height: 90% !important;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    transition: background 0.5s ease;
    background: rgb(75, 100, 174);
}
a{
    text-decoration: none !important;
}
.navbar-nav {
    margin-left: auto !important;
    margin-right: 0 !important
}
.hidden{
    display:none!important
}
.color-primary{
    color: #4B64AE !important;
}
.color-white{
    color: #ffffff !important;
}
.color-gray{
    color: gray !important;
}
.bg-light-gray{
    background-color: #F4F4F4 !important;
}
.bg-primary{
    background-color: #4B64AE !important;
}
.border-radius-50{
    border-radius: 50% !important;
}
.full-height{
    height: 100vh !important;
}
.pt-135{
    padding-top: 135px !important;
}
.pt-165{
    padding-top: 165px !important;
}
.px-120{
    padding-left:120px !important;
    padding-right:120px !important;
}
.fs-18{
    font-size: 18px !important;
}
.border-radius-20{
    border-radius:20px !important;
}

.bs-searchbox input{
    text-align: center !important;
    border-radius: 20px !important;
    background-color: #F4F4F4 !important;
}
.login-input{
    text-align: center !important;
    height: auto !important;
    border: 0 !important;
    padding: 0.65rem !important;
    border-radius: 20px !important;
    background-color: #F4F4F4 !important;
}
.login-input2{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.input-group-append .input-group-text{
    border: 0 !important;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
    background-color: #4B64AE !important;
    color: #fff !important;
    cursor: pointer !important;
}
.bootstrap-select .btn{
    background-color: #4B64AE !important;
    color: #fff !important;
    border-radius: 20px !important;
    padding: 0.75rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.bootstrap-select .dropdown-menu{
    padding: 0 !important;
    text-align: left !important;
}
.bootstrap-select .dropdown-menu .dropdown-item.active,.bootstrap-select .dropdown-menu .dropdown-item:active{
    background-color: #4B64AE !important;
}
.bootstrap-select .filter-option-inner-inner{
    text-align: left !important;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
    color: #4B64AE !important;
}
.dropdown-header{
    font-size: 1rem !important;
    color: #4B64AE !important;
}
.login-btn{
    text-align: center !important;
    border: 0 !important;
    padding: 0.5rem !important;
    border-radius: 20px !important;
    background-color: #4B64AE !important;
}
.login-btn:hover{
    background-color: #4B64AE !important;
    color: #fff !important;
}
.login-btn:active{
    background-color: #4B64AE !important;
    color: #fff !important;
}
.login-btn:focus{
    background-color: #4B64AE !important;
    color: #fff !important;
}
.login-header{
    position: absolute;
    top: 0;
    left: 0;
    padding:20px;
}

.input{
    border: 0 !important;
    padding: 1rem !important;
    border-radius: 20px !important;
    background-color: #F4F4F4 !important;
}
.navbar{
    box-shadow: 0 8px 12px -12px rgba(0,0,0,0.5) !important;
}
.user-img{
    padding-top: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.user-img img{
    /*width: 100px !important;*/
    /*height: 100px !important;*/
    background-color: #fff !important;
    border-radius: 50% !important;
    padding: .15rem !important;
    border: 1px solid #dee2e6;
}
.sidebar{
    text-align: left !important;
    width: 100% !important;
    overflow: auto;
}
.sidebar a {
    color: #fff !important;
    display: block;
    padding: 20px !important;
    font-size: 18px !important;
    transition: background-color ease-in 0.2s;
}
.sidebar span{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.sidebar a:hover{
    background-color: rgba(0,0,0,0.15) !important;
}
.sidebar a.active{
    background-color: rgba(0,0,0,0.15) !important;
    border-bottom: 2px solid #fff !important;
}
.sidebar ul{
    padding: 0 !important;
    list-style: none !important;
}
.header-card{
    height: 125px !important;
    color: #fff !important;
    text-align: right;
    position: relative !important;
    border-radius: 5px !important;
    box-shadow: 0 8px 6px -6px black !important;
    cursor: pointer !important;
    transition: background-color ease-in 0.25s;
}
.header-card:hover{
    background-color: #4B64AE !important;
}
.header-icon{
    text-align: center !important;
    padding-top: 30px !important;
    font-size: 50px !important;
}
.header-text{
    font-size: 20px !important;
    font-weight: bold;
}
.header-text .card-body{
    font-size: 35px !important;
    font-weight: bolder !important;
}
.panel{
    text-align: left !important;
    position: relative !important;
    border-radius: 5px !important;
    box-shadow: 0 8px 6px -6px black !important;
}
.panel .panel-header{
    background-color: #4B64AE !important;
    text-align: center !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 18px !important;
}
.panel .panel-body{
    background-color: #fff !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto !important;
}
.item-hover{
    transition: background-color ease-in 0.25s;
    cursor: pointer !important;
}
.item-hover:hover{
    background-color: rgba(0,0,0,0.05) !important;
}
.max-vh-50{
    max-height: 50vh !important;
}
.max-vh-75{
    max-height: 75vh !important;
}
.modal-close{
    position: absolute !important;
    top: -15px !important;
    left: -15px !important;
}
.nr3akom-btn{
    text-align: center !important;
    border: 0 !important;
    padding: 0.5rem !important;
    border-radius: 20px !important;
}
.add-link{
    float: right !important;
}
.status-bg-0{
    background-color: #4B64AE !important;
    color: #fff !important;
}
.status-bg-1{
    background-color: #28a745 !important;
    color: #fff !important;
}
.status-bg-2{
    background-color: #343a40 !important;
    color: #fff !important;
}
.status-bg-3{
    background-color: #ffc107 !important;
    color: #000 !important;
}
.status-bg-4{
    background-color: #dc3545 !important;
    color: #fff !important;
}


.pagination-div{
    float: left !important;
    line-height: 0 !important;
    margin-top: 2px !important ;
    border-radius: 20px !important;

}
.pagination-div .page-link {
    padding: 1px 5px !important;
    font-size: 14px !important;
}
.pagination-div .pagination{
    margin: 0 !important;
    border-radius: 20px !important;
    padding: 0 5px !important;
}
.page-item.active .page-link{
    color: #fff !important;
    background-color: #4B64AE;
    border-color: #4B64AE
}
.page-link{
    color: #4B64AE !important;
}
.page-item:last-child .page-link{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page-item:first-child .page-link{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
