*{
    direction: rtl !important;
}
.sidebar{
    text-align: right !important;
}
.panel{
    text-align: right !important;
}
.navbar-nav {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.add-link{
    float: left !important;
}

.pagination-div{
    float: right !important;
}
.page-item:last-child .page-link{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page-item:first-child .page-link{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bootstrap-select .filter-option-inner-inner{
    text-align: right !important;
}

.bootstrap-select .dropdown-menu{
    text-align: right !important;
}
.login-header{
    left: auto !important;
    right: 0 !important;
}
.float-left{
    float: right !important;
}
.float-right{
    float: left !important;
}
.login-input2{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}
.input-group-append .input-group-text{
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
